<footer class="py-6 px-6 flex justify-between bg-gray-800 mt-2">
    <div class="w-2/3 pr-10">
        <h3 class="mb-5 font-semibold text-gray-400">About</h3>
        <p class="text-lg text-gray-500"> This is Machine Learning application that uses Django API to run a random forest model to predict the type of Penguin based on its characteristics. </p>
    </div>

    <div class="w-1/3">
        <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>
        <ul class="space-y-2"></ul>
        <li>
            <a href="#" class="text-lg text-green-500 hover:text-green-700">About</a>
        </li>
        <li>
            <a href="#" class="text-lg text-green-500 hover:text-green-700">Contact</a> 
        </li>
        <li>
            <a href="#" class="text-lg text-green-500 hover:text-green-700">Privacy policy</a>  
        </li>
        <li>
            <a href="#" class="text-lg text-green-500 hover:text-green-700">Terms of use</a> 
        </li>
    </div>
</footer>